.search-input {
    border-radius: 3px 0 0 3px;
}

.submit-search {
    border: none;
    border-radius: 0 10px 10px 0;
}

@media (min-width: 0px) {
    .searchbar {
        width: 50vw;
    }
}

@media (min-width: 992px) {
    .searchbar {
        width: 20vw;
    }
}